.paragraph,.section-title,.subtitle{margin-bottom:var(--spacer-sm)}div[data-v-ea180e3c]{--width:5}.quote[data-v-ea180e3c]:first-letter{margin-left:-.825rem}.author[data-v-ea180e3c]{color:var(--dark-gray);margin-top:var(--spacer-xs)}
