@font-face {
  font-family: 'Graphik Web';
  src: url('/fonts/Graphik-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('/fonts/Graphik-400-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('/fonts/Graphik-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('/fonts/Graphik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

